*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Settings dell'header */
header{
    background-image: url(img/pattern.png);
    background-color:royalblue;
    background-size: auto 250px;
    height: 100px;
    margin-right: 20%;
    margin-left: 20%;
}

main{
    margin-left: 20%;
    margin-right: 20%;
}

.logo{
    width: 175px;
    padding: 40px 5px 5px;
}

.credits{
    margin-left: 10px;
    font-size: 18px;
}

h1{
    margin-left: 10px;
}

#author{
    color: royalblue;
}

#date{
    margin-left: 10px;
    margin-bottom: 20px;;
    font-size: 13px;
}

#pics-tim1{
    margin-left: 10px;
    width: 45%;
    height: 250px;
}

#pics-tim2{
    margin-right: 10px;
    width: 45%;
    height: 250px;
}

#photo-credits{
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 15px;
}

#text{
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 15px;;
    text-align: justify;
}

#list{
    margin-left: 25px;
    margin-bottom: 15px;
}

table{
    margin-left: 10px;
    border-collapse: collapse;
}

th{
    padding-right: 80px;
    height: 30px;
    background-color: royalblue;
    color: white;
    font-size: 15px;
}

td{
    height: 25px;
}

#lb{
    background-color: lightblue;
}

#talk{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#ev{
    background-color: yellow;
}

footer{
    margin-left: 20.6%;
    margin-right: 20%;
}

#recommended{
    color: grey;
    margin-bottom: 10px;
}

#monitorpic{
    color: black;
    margin-bottom: 15px;
    background-image: url(img/monitor.jpg);
    background-size: cover;
    height: 150px;
    width: 225px;
}

#graphpic{
    color: black;
    margin-bottom: 35px;
    background-image: url(img/graph.jpg);
    background-size: cover;
    height: 150px;
    width: 225px;
}

#title{
    color: white;
    padding-top: 10px;
    padding-left: 8px;
}